@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  /* Branding Colors */
  --color-Primary: #ea580c;
  --color-light: #f9fafb;
  /* orange-600 */
  --color-brand-orange-hover: #f97316;
  /* orange-500 */


  /* dark color theme */
  --color-dark: #0a0a0a;
}

button {
  cursor: pointer;
}